body {
  background-color: #333333;
}

a {
  color: #000000;
}

div.container {
  margin-left: 26.7%;
  padding-top: 0.1%;
}

.middle-login {
  padding-top: 19%;
  padding-left: 35%;
}

.middle-signup {
  padding-top: 15%;
  padding-left: 35%;
}

.outline-light {
  border-style: outset;
  border-width: 4px;
  border-color: #B79964;
  border-radius: 5%;
}

.white-background {
  background-color: #fff;
}

.sand-background {
  color: #fff;
  background-color: #B79964;
}

.offset-13 {
  padding-left: 13%;
}

.offset-16 {
  padding-left: 16%;
}

.pad-bottom-toprightnav {
  margin-bottom: 8%;
}

.pad-tabs-top {
  margin-top: 0%;
}

.pad-tabs-bot {
  margin-bottom: 2%;
}

.align-icons-right {
  padding-left: 95%;
}

.align-middle {
  padding-top: 10%;
}

.title {
  font-family: roboto;
  font-weight: bold;
  font-size: 7rem;
  padding-left: 15%;
  padding-top: 13.5%;
  color: #0080FF;
}

.subtitle {
  font-family: roboto;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 9%;
  color: #0080FF;
}
